node_modules
index.js
.vscode

package-lock.json
logs
*.log
npm-debug.log*
**/node_modules/**
_node_modules
.pnp.cjs
coverage
.tmp
_docpress
.DS_Store
lib
dist
tsconfig.tsbuildinfo
test.lib/
.idea/
package-lock.json
pnpm-locl.yaml
__package_previews__
.store
privatePackages/store
storage
yarn.lock
RELEASE.md
.jest-cache
.verdaccio-cache
.turbo
__fixtures__/custom-modules-dir/**/fake_modules/
__fixtures__/custom-modules-dir/cache/
__fixtures__/custom-modules-dir/patches/
www
www